<%- include('./partials/header.ejs') -%>

<style>
    .container-central-usuarios {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Três colunas */
        justify-items: center;
        gap: 10px;
    }

    @media (min-width: 900px) {
        .container-central-usuarios {
            display: flex !important;
            flex-direction: column;
            align-items: center; 
        }
    }
</style>

<body>
    <%- include('./partials/navbar.ejs') -%>

    <div class="container">
        <hr/>
        <div class="card mt-6">
            <div class="card-header">
                <h2>Gerenciamento de Usuários</h2>
            </div>
            <div class="card-body">
                <h2>Cadastrar novos usuários</h2>
                <form method="POST" action="/user/create">
                    
                    <input class="form-control" name="name" type="text" placeholder="Insira o nome do usuário" required></br>
                    <input class="form-control" name="email" type="email" placeholder="Informe seu email" required></br>
                    <input class="form-control" name="password" type="password" placeholder="Informe sua senha" required></br>
                    
                    <center><button class="btn btn-success">Registrar</button></center>
                    
                    <hr>
                </form>

                <hr>

                <h2>Lista de Usuários</h2>

                <div class="container-central-usuarios">
                    <% if (users && users.length > 0) { %>
                        <% users.forEach(user => { %>
                            <div class="container-itens-usuarios">
                                <p><strong>Nome:</strong> <%= user.name %></p>
                                <p><strong>Email:</strong> <%= user.email %></p>
                                <center>
                                    <button class="btn btn-danger" onclick="deleteUser('<%= user.id %>')" style="margin:1rem;">Deletar</button>
                                    <a class="btn btn-warning" href='/user/edit/<%= user.id %>' style="margin:1rem;">Editar</a>
                                </center>
                            </div>
                        <% }) %>
                    <% } else { %>
                        <p>Nenhum usuário encontrado.</p>
                    <% } %>
                </div>
                <hr>
        
            </div>
        </div>
    </div>

    <%- include('./partials/navFooter.ejs') -%>

    <script>
        function deleteUser(id) {
            if (confirm('Tem certeza que deseja deletar este usuário?')) {
                fetch(`/user/delete/${id}`, {
                    method: 'DELETE'
                })
                .then(response => response.json())
                .then(data => {
                    if (data.msg === 'User deleted successfully.') {
                        window.location.href = '/pagina_usuarios';
                    } else {
                        alert('Erro ao deletar o usuário');
                    }
                })
                .catch(err => console.error('Erro:', err));
            }
        }
    </script>
</body>
