<%- include('./partials/header.ejs') -%>

<style>
    .container-central-img{
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Três colunas */
        justify-items: center;
        gap: 10px;
    };


@media (min-width: 900px) {
    .container-central-img {
        display: flex !important;
        flex-direction: column;
        align-items: center; 
    };
};

</style>

<body>
    <%- include ('./partials/navbar.ejs') -%>

    <div class="container">
        <hr/>
        <div class="card mt-6">
            <div class="card-header">
                <h2>Página Assine Já</h2>
            </div>
            <div class="card-body">
                <h2>Cadastrar novas informações</h2>
                <form method="POST" action="/planos/create"  enctype="multipart/form-data">
                    
                    <h4>Informações do plano</h4>
                    <input class="form-control" name="name" type="text" placeholder="Nome do plano" required></br>
                    <input class="form-control" name="preco" type="text" placeholder="Valor do plano" required></br>
                    
                    <h4>Imagens para planos</h4>
                    <h6>Obs: Tamanho da imagem deverá seguir a seguinte dimensão <b>1080x1080</b></h6>
                    <input class="form-control" name="image" type="file" accept="image/*" required></br>
                    
                    <center><button class="btn btn-success">Registrar</button></center>
                    
                    <hr>
                </form>

                <form method="POST" action="/stream/create"  enctype="multipart/form-data">
                    <h4>Imagens para streamers</h4>
                    <h6>Obs: Tamanho da imagem deverá seguir a seguinte dimensão <b>800x600</b></h6>
                    <input class="form-control" name="image" type="file" accept="image/*" required></br>
                    
                    <center><button class="btn btn-success">Registrar</button></center>
                    
                    <hr>
                </form>
                
                <h2>Imagens cadastradas</h2>
                <h4>Planos</h4>
                <div class="container-central-img">
                    <% if (resultPlanos && resultPlanos.length > 0) { %>
                        <% resultPlanos.forEach(indice => { %>
                            <div class="container-itens-img">
                                <img class="img-itens" id="<%=indice.id%>" name="<%=indice.id%>" src="data:image/jpeg;base64,<%= indice.data %>" alt="Image"/>
                                <center>
                                    <button class="btn btn-danger" type="button" style="margin:1rem;" onclick="deleteImage('planos', '<%= indice.id %>')">
                                        Deletar
                                    </button>
                                </center>
                            </div>
                        <% }) %>
                    <% } %>
                </div>
                <hr>

                <h4>Streamers</h4>
                <div class="container-central-img">
                    <% if (resultStreamers && resultStreamers.length > 0) { %>
                        <% resultStreamers.forEach(indice => { %>
                            <div class="container-itens-img">
                                <img class="img-itens" id="<%=indice.id%>" name="<%=indice.id%>" src="data:image/jpeg;base64,<%= indice.data %>" alt="Image"/>
                                <center>
                                    <button class="btn btn-danger" type="button" style="margin:1rem;" onclick="deleteImage('stream', '<%= indice.id %>')">
                                        Deletar
                                    </button>
                                </center>
                            </div>
                        <% }) %>
                    <% } %>
                </div>
            </div>
        </div>
    </div>

    <%- include ('./partials/navFooter.ejs') -%>

    <script>
        function deleteImage(entity, id) {
            if (confirm('Tem certeza que deseja deletar esta imagem?')) {
                fetch(`/${entity}/delete/${id}`, {
                    method: 'DELETE'
                })
                .then(response => response.json())
                .then(data => {
                    if (data.msg === 'Image deleted successfully.') {
                        window.location.href = '/pagina_assine_ja';
                    } else {
                        alert('Erro ao deletar a imagem');
                    }
                })
                .catch(err => console.error('Erro:', err));
            }
        }
    </script>
</body>