<%- include('./partials/header.ejs') -%>

<style>
    .container-central-img{
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Três colunas */
        justify-items: center;
        gap: 10px;
    };


@media (min-width: 900px) {
    .container-central-img {
        display: flex !important;
        flex-direction: column;
        align-items: center; 
    };
};

</style>

<body>
    <%- include ('./partials/navbar.ejs') -%>

    <div class="container">
        <hr/>
        <div class="card mt-6">
            <div class="card-header">
                <h2>Página Fica Descomplica</h2>
            </div>
            <div class="card-body">
                <h2>Cadastrar novas images para página Atendimento</h2>
                <form method="POST" action="/chats/create"  enctype="multipart/form-data">
                    <h4>Imagens em carrosel</h4>
                    <h6>Obs: Tamanho da imagem deverá seguir a seguinte dimensão <b>1080x1920</b></h6>
                    <input class="form-control" name="image" type="file" accept="image/*" required></br>
                    
                    <center><button class="btn btn-success">Registrar</button></center>
                    
                    <hr>
                </form>
                
                <h2>Imagens cadastradas</h2>
                <h4>Imagens em aatendimento</h4>
                <div class="container-central-img">
                    <% if (result && result.length > 0) { %>
                        <% result.forEach(indice => { %>
                            <div class="container-itens-img">
                                <img class="img-itens" id="<%=indice.id%>" name="<%=indice.id%>" src="data:image/jpeg;base64,<%= indice.data %>" alt="Image"/>
                                    <center>
                                        <button class="btn btn-danger" onclick="deleteImage('<%= indice.id %>')" style="margin:1rem;">Deletar</button>
                                    </center>
                            </div>
                        <% }) %>
                    <% } %>
                </div>
                <hr>
            </div>
        </div>
    </div>

    <%- include ('./partials/navFooter.ejs') -%>

    <script>
        function deleteImage(id) {
            if (confirm('Tem certeza que deseja deletar esta imagem?')) {
                fetch(`/chats/delete/${id}`, {
                    method: 'DELETE'
                })
                .then(response => response.json())
                .then(data => {
                    if (data.msg === 'Image deleted successfully.') {
                        window.location.href = '/pagina_chats';
                    } else {
                        alert('Erro ao deletar a imagem');
                    }
                })
                .catch(err => console.error('Erro:', err));
            }
        }
    </script>
</body>